{% extends 'base.html.twig' %}

{% block title %}Materiellocation{% endblock %}

{% block body %}
    <h1>Materiellocation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ materiellocation.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ materiellocation.nom }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ materiellocation.prix }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ materiellocation.description }}</td>
            </tr>
            <tr>
                <th>Disponibilite</th>
                <td>{{ materiellocation.disponibilite ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_materiellocation_index') }}">back to list</a>

    <a href="{{ path('app_materiellocation_edit', {'id': materiellocation.id}) }}">edit</a>

    {{ include('materiellocation/_delete_form.html.twig') }}
{% endblock %}
