{{ form_start(form, { 'attr': { 'novalidate': 'novalidate' } }) }}

<table class="table">
    <tr>
        <td><label>{{ form_label(form.nom) }}</label></td>
        <td>
            {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'style': 'width: 350px;'}}) }}
            <div class="text-danger">{{ form_errors(form.nom) }}</div>
        </td>
    </tr>
    <tr>
        <td><label>{{ form_label(form.prix) }}</label></td>
        <td>
            {{ form_widget(form.prix, {'attr': {'class': 'form-control','style': 'width: 350px;'}}) }}
            <div class="text-danger">{{ form_errors(form.prix) }}</div>
        </td>
    </tr>
    <tr>
        <td><label>{{ form_label(form.description) }}</label></td>
        <td>
            {{ form_widget(form.description, {'attr': {'class': 'form-control', 'style': 'width: 350px;'}}) }}
            <div class="text-danger">{{ form_errors(form.description) }}</div>
        </td>
    </tr>
    <tr>
        <td><label>{{ form_label(form.disponibilite) }}</label></td>
        <td>
            {{ form_widget(form.disponibilite) }}
            <div class="text-danger">{{ form_errors(form.disponibilite) }}</div>
        </td>
    </tr>
    <tr>
        <td><label>{{ form_label(form.image) }}</label></td>
        <td>
            {{ form_widget(form.image, {'attr': {'class': 'form-control', 'style': 'width: 350px;'}}) }}
            <div class="text-danger">{{ form_errors(form.image) }}</div>
        </td>
    </tr>
    
    <tr>
        <td colspan="2"  style="padding-top: 10px;">
            <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
        </td>
    </tr>
</table>

{{ form_end(form) }}
