<h1>Ajouter un matériel</h1>

{{ form_start(form) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.description) }}
    {{ form_row(form.prix) }} <!-- ou prixParJour pour la location -->
    {{ form_row(form.disponibilite) }}
    

    <button type="submit">Enregistrer</button>
{{ form_end(form) }}