{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center mb-4">Utilisateur Details</h1>

        <div class="card shadow-lg">
            <div class="card-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th scope="row">Id</th>
                            <td>{{ utilisateur.id }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Nom</th>
                            <td>{{ utilisateur.nom }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Prenom</th>
                            <td>{{ utilisateur.prenom }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Email</th>
                            <td>{{ utilisateur.email }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Mot de Passe</th>
                            <td>{{ utilisateur.mdp }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Telephone</th>
                            <td>{{ utilisateur.tele }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Role</th>
                            <td>{{ utilisateur.role }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="text-center mt-3">
                    <!-- Back to List Button -->
                    <a href="{{ path('app_utilisateur_index') }}" class="btn btn-secondary w-25 me-2">Back to List</a>

                    <!-- Edit Button -->
                    <a href="{{ path('app_utilisateur_edit', {'id': utilisateur.id}) }}" class="btn btn-warning w-25 me-2">Edit</a>

                    <!-- Delete Form -->
                    {{ include('utilisateur/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
