{% extends 'base.html.twig' %}

{% block title %}Détails de la commande{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mb-4">Détails de la commande</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ commande.id }}</td>
            </tr>
            <tr>
                <th>ID Commande</th>
                <td>{{ commande.idCommande }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ commande.dateCommande ? commande.dateCommande|date('Y-m-d H:i:s') : 'N/A' }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ commande.totale }} €</td>
            </tr>
            <tr>
                <th>Quantité</th>
                <td>{{ commande.quantite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_commande_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
    <a href="{{ path('app_commande_edit', {'id': commande.id}) }}" class="btn btn-warning mt-3">Modifier</a>

    {{ include('commande/_delete_form.html.twig') }}
</div>
{% endblock %}
