{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

<!-- Affichage du formulaire -->
<div class="form-group">
    {{ form_label(form.methodePaiement) }}
    {{ form_widget(form.methodePaiement) }}
    {{ form_errors(form.methodePaiement) }} <!-- Affichage de l'erreur -->
</div>

<!-- Affichage des autres champs du formulaire -->
<div class="form-group">
    {{ form_label(form.datePaiement) }}
    {{ form_widget(form.datePaiement) }}
    {{ form_errors(form.datePaiement) }}
</div>

<!-- Bouton de soumission -->
{{ form_widget(form.submit) }}

{{ form_end(form) }}
