{% extends 'base_back.html.twig' %}

{% block body %}
<div class="container mt-5" style="width: 70%; margin-left: 27%; padding-top: 50px;">

    <h1>Modifier un employé</h1>

    {{ form_start(form, { 'attr': { 'novalidate': 'novalidate' } }) }}

    <!-- Display global form errors -->
    {{ form_errors(form) }}

    <div class="mb-3">
        {{ form_label(form.userIdentifier, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.userIdentifier, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.userIdentifier) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.comp, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.comp, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.comp) }}
    </div>

    <button type="submit" class="btn btn-primary">Enregistrer</button>

    {{ form_end(form) }}

</div>
{% endblock %}
