{% extends 'base_back.html.twig' %}

{% block title %}Détails de l'Offre{% endblock %}

{% block body %}
    <div class="container mt-5" style="width: 70%; margin-left: 27%; padding-top: 50px;">
        <h1>Détails de l'Offre</h1>

        <p><strong>Titre :</strong> {{ offre.titre }}</p>
        <p><strong>Description :</strong> {{ offre.descr ? offre.descr : 'Aucune description' }}</p>
        <p><strong>Statut :</strong> {{ offre.statut ? 'Active' : 'Inactive' }}</p>
        <p><strong>Compétences :</strong> {{ offre.comp ? offre.comp : 'Aucune compétence' }}</p>
        <p><strong>Identifiant A :</strong> {{ offre.ida }}</p>
        <p><strong>Identifiant E :</strong> {{ offre.ide ? offre.ide : 'Non défini' }}</p>

        <a href="{{ path('admin_offre_edit', {id: offre.id}) }}" class="btn btn-warning">Modifier</a>
        {#{% include 'admin/_delete_back.html.twig' with { 'delete_path': 'admin_offre_delete' } %}#}
        <a href="{{ path('admin_offre_index') }}" class="btn btn-secondary">Retour</a>
    </div>
{% endblock %}
