{{ form_start(form, { 'attr': { 'novalidate': 'novalidate' } }) }}

{% for field in form %}
    {% if field.vars.name != '_token' %} {# Avoid rendering _token twice #}
        <div class="mb-3">
            {{ form_label(field) }}
            {{ form_widget(field, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(field) }}
        </div>
    {% endif %}
{% endfor %}

<button class="btn btn-warning btn-sm text-white">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}
