{% extends 'base.html.twig' %}

{% block title %}{{ 'New Offre' | trans }}{% endblock %}

{% block body %}

    <!-- Added padding-top to prevent overlap -->
    <div class="pt-5">
    
    <div class="container mt-5 pt-5">
        <h1>{{ 'Create new Offre' | trans }}</h1>

        {{ include('offre/_form.html.twig') }}

        <a href="{{ path('app_offre_index') }}">{{ 'back to list' | trans }}</a>

{% endblock %}
