<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'container mt-4 p-4 bg-light rounded shadow'}}) }}
   <div>
    {{ form_label(form.dateDebut_contrat, null, {'attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.dateDebut_contrat, {'attr': {'class': 'form-control', 'placeholder': 'YYYY-MM-DD HH:mm'}, 'value': form.dateDebut_contrat.vars.value ? form.dateDebut_contrat.vars.value|date('Y-m-d H:i') : ''}) }}

    <div class="text-danger">{{ form_errors(form.dateDebut_contrat) }}</div>
</div>

<div>
    {{ form_label(form.datefin_contrat, null, {'attr': {'class': 'form-label'}}) }}
    
    {{ form_widget(form.datefin_contrat, {'attr': {'class': 'form-control', 'placeholder': 'YYYY-MM-DD HH:mm'}, 'value': form.datefin_contrat.vars.value ? form.datefin_contrat.vars.value|date('Y-m-d H:i') : ''}) }}

    <div class="text-danger">{{ form_errors(form.datefin_contrat) }}</div>

</div>

<div class="mb-3">
    {{ form_label(form.nom_Acheteur, null, {'attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.nom_Acheteur, {'attr': {'class': 'form-control'}}) }}
    <div class="text-danger">{{ form_errors(form.nom_Acheteur) }}</div>
</div>
<div class="mb-3">
    {{ form_label(form.nom_Vendeur, null, {'attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.nom_Vendeur, {'attr': {'class': 'form-control'}}) }}
    <div class="text-danger">{{ form_errors(form.nom_Vendeur) }}</div>
</div>
<div class="mb-3">
    {{ form_label(form.information_Contrat, null, {'attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.information_Contrat, {'attr': {'class': 'form-control'}}) }}
    <div class="text-danger">{{ form_errors(form.information_Contrat) }}</div>
</div>

<div>
    {{ form_label(form.datecreation_contrat, null, {'attr': {'class': 'form-label'}}) }}
     {{ form_widget(form.datecreation_contrat, {'attr': {'class': 'form-control', 'placeholder': 'YYYY-MM-DD HH:mm'}, 'value': form.datecreation_contrat.vars.value ? form.datecreation_contrat.vars.value|date('Y-m-d H:i') : ''}) }}
    
    <div class="text-danger">{{ form_errors(form.datecreation_contrat) }}</div>
</div>

<div class="mb-3">
    {{ form_label(form.parcelle, null, {'attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.parcelle, {'attr': {'class': 'form-control'}}) }}
    <div class="text-danger">{{ form_errors(form.parcelle) }}</div>
</div>
<button class="btn btn-primary w-100">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}
