{% extends 'base.html.twig' %}

{% block title %}Edit Contrat{% endblock %}

{% block body %}


<div class="container mt-5 pt-5">

    <h1 class="text-center">Edit Contrat</h1>
{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'container mt-4 p-4 bg-light rounded shadow'}}) }}

    <div class="card p-4 mt-3">
        {{ include('contrat/_form.html.twig', {'button_label': 'Update'}) }}
    </div>

    <div class="text-center mt-3">
        <a href="{{ path('app_contrat_index') }}" class="btn btn-secondary">Back to List</a>
    </div>

    <div class="text-center mt-3">
        {{ include('contrat/_delete_form.html.twig') }}
    </div>
</div>
{{ form_end(form) }} 
     
{% endblock %}
