{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'needs-validation'}}) }}

    <div class="mb-3">
        {{ form_label(form.titre, 'Titre', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.titre, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
        <div class="text-danger">{{ form_errors(form.titre) }}</div>
    </div>

    <div class="mb-3">
        {{ form_label(form.description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
        <div class="text-danger">{{ form_errors(form.description) }}</div>
    </div>

    <div class="mb-3">
        {{ form_label(form.prix, 'Prix', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.prix, {'attr': {'class': 'form-control', 'required': 'required', 'pattern': '[0-9]+(\.[0-9]{1,2})?', 'title': 'Entrer un prix valide'}}) }}
        <div class="text-danger">{{ form_errors(form.prix) }}</div>
    </div>

    <div class="mb-3">
        {{ form_label(form.status, 'Statut', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.status, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
        <div class="text-danger">{{ form_errors(form.status) }}</div>
    </div>

    <div class="mb-3">
        {{ form_label(form.emplacement, 'Emplacement', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.emplacement, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
        <div class="text-danger">{{ form_errors(form.emplacement) }}</div>
    </div>

    <div class="mb-3">
        {{ form_label(form.taille, 'Taille (m²)', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.taille, {'attr': {'class': 'form-control', 'required': 'required', 'min': '1', 'step': '0.01'}}) }}
        <div class="text-danger">{{ form_errors(form.taille) }}</div>
    </div>

    <div class="mb-3">
        {{ form_label(form.date_creation_annonce, null, {'attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.date_creation_annonce, {'attr': {'class': 'form-control', 'placeholder': 'YYYY-MM-DD HH:mm'}, 'value': form.date_creation_annonce.vars.value ? form.date_creation_annonce.vars.value|date('Y-m-d H:i') : ''}) }}
        <div class="text-danger">{{ form_errors(form.date_creation_annonce) }}</div>
    </div>

    <div class="mb-3">
        {{ form_label(form.date_misajour_annonce, null, {'attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.date_misajour_annonce, {'attr': {'class': 'form-control', 'placeholder': 'YYYY-MM-DD HH:mm'}, 'value': form.date_misajour_annonce.vars.value ? form.date_misajour_annonce.vars.value|date('Y-m-d H:i') : ''}) }}
        <div class="text-danger">{{ form_errors(form.date_misajour_annonce) }}</div>
    </div>

    <div class="mb-3">
        {{ form_label(form.est_disponible, 'Disponible ?', {'label_attr': {'class': 'form-check-label'}}) }}
        {{ form_widget(form.est_disponible, {'attr': {'class': 'form-check-input'}}) }}
        <div class="text-danger">{{ form_errors(form.est_disponible) }}</div>
    </div>

    <div class="mb-3">
        {{ form_label(form.nom_proprietaire, 'Nom du propriétaire', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.nom_proprietaire, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
        <div class="text-danger">{{ form_errors(form.nom_proprietaire) }}</div>
    </div>

    <div class="mb-3">
        {{ form_label(form.contact_proprietaire, 'Contact du propriétaire', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.contact_proprietaire, {'attr': {'class': 'form-control', 'required': 'required', 'pattern': '^\+?[0-9]*$', 'title': 'Numéro de téléphone valide requis'}}) }}
        <div class="text-danger">{{ form_errors(form.contact_proprietaire) }}</div>
    </div>

    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}
